<div>
    <h4>product basic info viwe</h4>

    <div class="panel">
        <a href="{{vm.url}}" target="_BLANK">google</a>
        <div>
            <p>
                <strong>Name:</strong>&nbsp;{{vm.selectedProduct.productName}}
            </p>
            <p>
                <strong>Price:</strong>&nbsp;{{vm.selectedProduct.price}}
            </p>
            <p>
                <strong>Code:</strong>&nbsp;{{vm.selectedProduct.productCode}}
            </p>
            <p>
                <strong>Release Date:</strong>&nbsp;{{vm.selectedProduct.releaseDate}}
            </p>
        </div>
    </div>
</div>